button,
option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    padding: 6px 10px;
    font-weight: 600;
    text-shadow: 0 0 3px $primary-dark;
    color: $white;
    box-shadow: inset 0 0 15px darken($primary-dark, 3%), 0 0 4px rgba($primary-dark, .4);

    @extend %title-small;

    svg {
        font-size: .75rem;
        margin-bottom: 4px;
        margin-left: 4px;

        path {
            stroke: $white;
        }
    }
}

.delete-button {
    color: $white;
    border: 1px solid rgba($primary-light, .6);
    background-color: $primary-dark;
}

select {
    margin-top: 20px;
    height: 33px;
    outline: none !important;
    background: none;

    option {
        background-color: darken($primary-dark, 20%);
        transition: all .3s;
        outline: none;

        &:not(:last-of-type) {
            margin-right: 8px;
        }

        &:hover,
        &:checked {
            color: $black;
            outline: none !important;
            box-shadow: 0 0 10px 100px lighten($primary-light, .6) inset;
        }
    }
}