button,
.button,
option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    font-weight: 600;
    @extend %title-small;
    @include Size-LH(.58rem, 230%);
    svg {
        font-size: .8rem;

        path {
            stroke: $black;
        }
    }
}

button,
.button {
    padding: 2px 10px;
    color: $black;
    border: 1px solid rgba($primary-light, .6);
}

.home,
.form {
    button,
    .button,
    option {
        box-shadow: inset 0 0 15px darken($primary-dark, 3%), 0 0 4px rgba($primary-dark, .4);
    }

    button,
    .button {
        background-color: darken($primary-light, 10%);
    }
}

.home svg,
.details svg {
    margin: auto 4px auto 0;
}

.details .button {
    background-color: $white;
    box-shadow: inset 0 0 15px rgba($black, .3), 0 0 4px rgba($primary-dark, .4);
    margin-right: 16px;
}

.card-buttons {
    button,
    .button {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.submit-button {
    transform: scale(1.4);
    margin-left: 22px;
    margin-top: 30px;
}

select {
    margin-top: 20px;
    height: 33px;
    outline: none !important;
    background: none;

    option {
        background-color: darken($primary-dark, 20%);
        transition: all .3s;
        outline: none;
        color: $white;

        @include media-min($mobile) {
            padding: 6px 10px;
        }

        @include media-max($mobile) {
            padding: 6px;
        }

        &:not(:last-of-type) {
            margin-right: 7px;
        }

        &:hover,
        &:checked {
            color: $black;
            outline: none !important;
            box-shadow: 0 0 10px 100px lighten($primary-light, .6) inset;
        }
    }
}