.card {
    flex-shrink: 0;
    display: grid;
    width: 250px;
    height: 395px;
    background-color: lighten($primary-dark, 14%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid $white;
    box-shadow: 0 75px 55px -20px $primary-dark, inset 0 0 40px $primary-light;
    transition: transform .5s;
    overflow: hidden;

    &:not(:first-of-type) {
        margin-left: 30px;
    }

    &:hover {
        transform: scale(1.03);

        h3.title-small {
            @include Size-LH(1.5rem, 100%);
            text-transform: none;
            letter-spacing: 0;
        }
    }

    &>* {
        grid-row: 1;
        grid-column: 1;
    }

    img {
        z-index: 1;
        width: 230px;
        height: 345px;
        object-fit: cover;
        border-radius: 15px;
        transition: .5s height;
        box-shadow: 0 5px 10px $primary-dark;
    }

    &:hover img {
        height: 180px;
        object-position: bottom;
    }

    figcaption {
        align-self: end;
        text-align: center;

        div {
            height: 0;
            visibility: hidden;
            opacity: 0;
            transition: .5s height, .5s visibility, 1s .5s opacity;

            h3.title-small {
                @include overflowEllipsis;
                transition: all .5s;
            }

            span {
                display: block;
                margin-bottom: 4px;
                padding: 0 10px;
            }

            p {
                overflow: auto;
                height: 63px;
                margin-bottom: 10px;
                padding: 0 20px;
                text-align: left;
                font-size: .8rem;
            }
        }
    }

    &:hover figcaption div {
        visibility: visible;
        opacity: 1;
        height: 130px;
    }
}
