$Hashira: 'hashira_mtregular', sans-serif;
$Mulish: "Mulish", sans-serif;

// mixin
@mixin Hashira($weight) {
    font-family: $Hashira;
    font-weight: $weight;
}

@mixin Mulish($weight) {
    font-family: $Mulish;
    font-weight: $weight;
}

@mixin Size-LH($size, $lineHeight) {
    font-size: $size;
    line-height: $lineHeight;
}

// use
%title-small {
    @include Mulish(600);
    @include Size-LH(.54rem, 230%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title {
    &-large {
        @include Hashira(400);
        text-shadow: 1px 1px 0 $white;
        margin-left: auto;
        
        @include media-min($tablet) {
            margin: -10px 0 40px;
            text-align: center;
            @include Size-LH(5rem, 80%);
        }

        @include media-max($tablet) {
            @include Size-LH(4rem, 75%);
            margin: 30px 0 30px;
            text-align: center;
        }

        span {
            display: block;

            &:last-child {
                @include media-min($tablet) {
                    @include Size-LH(10rem, 80%);
                }
                @include media-max($tablet) {
                    @include Size-LH(10rem, 75%);
                }
                text-transform: uppercase;
                font-style: italic;
            }
        }
    }

    &-medium {
        @include Mulish(600);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &-small {
        @extend %title-small;
    }
}