.home {
    &__search {
        text-align: center;

        input[type="search"] {
            display: block;
            margin: 0 auto;
            background-color: $white;
            border-radius: 70px;
            padding: 10px 20px;
            font-size: 1.2rem;

            @include media-min($mobile) {
                width: 320px;
            }

            @include media-max($mobile) {
                width: 100%;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
                height: 15px;
                width: 15px;
                margin-right: -6px;
                background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
                background-size: contain;
                opacity: 0;
                pointer-events: none;
            }

            &:focus::-webkit-search-cancel-button {
                opacity: .3;
                pointer-events: all;
            }
        }
    }

    .swiper {
        @include media-min($tablet) {
            margin-top: 50px !important;
        }
        @include media-max($tablet) {
            margin: 50px -8px 0 !important;
        }
    }

    .swiper-wrapper {
        @include media-min($tablet) {
            padding-top: 30px !important;
        }
        @include media-max($tablet) {
            padding-top: 30px !important;
        }
    }
}